<div class="chat-list">
  <div class="chat-item" routerLink="/chat">
      <div class="chat-info">
          <img src="https://i.pravatar.cc/150?img=5" class="avatar">
          <span class="username">أحمد علي</span>
      </div>
      <div class="status bg-[#4caf50] "></div>
  </div>
  <div class="chat-item" routerLink="/chat">
      <div class="chat-info">
          <img src="https://i.pravatar.cc/150?img=6" class="avatar">
          <span class="username">محمد حسن</span>
      </div>
      <div class="status bg-[#ff3b30]"></div>
  </div>
</div>
