<section class="register py-[30px] " >
  <div class="register-container mx-[10px]  w-full md:w-[80%] lg:w-[50%] " >
    <div class=" w-full mb-[15px] flex justify-center items-center opacity-[0.8]  " >
      <img class="w-[150px] h-[150px] rounded-full  " src="assets/Images/logo Image/logo.jpg" alt="Logo Image">
    </div>
    <!-- <h2>إنشاء حساب</h2> -->
    <form action="" class="space-y-3" >
      <input type="text" placeholder="Enter Your Full Name" required>
    <input type="email" placeholder="Enter Your Email" required>
    <input type="password" placeholder="Enter Your Password" required>
    <input type="password" placeholder="Confirm Your Password" required>
    <input type="file" placeholder="upload image" required>
    <button>Register</button>
    </form>
    <a routerLink="/login">Already have an account? Log in</a>
  </div>
</section>
