<section class="">
  <h1 class="text-[20px] md:text-[35px] font-bold text-center" >المواد الدراسية</h1>
    <div class="subjects" >
      <div class="subject-card" style="background-color: #1e3a8a;">
        <h3>رياضيات</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #8a2be2;">
        <h3>فيزياء</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #2e8b57;">
        <h3>كيمياء</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #d2691e;">
        <h3>أحياء</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #dc143c;">
        <h3>لغة عربية</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #ff8c00;">
        <h3>لغة إنجليزية</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #4682b4;">
        <h3>تاريخ</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #228b22;">
        <h3>جغرافيا</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #9932cc;">
        <h3>علوم الحاسب</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    <div class="subject-card" style="background-color: #b8860b;">
        <h3>اقتصاد</h3>
        <button class="exam-btn" routerLink="/chosematerial" >امتحن الآن</button>
    </div>
    </div>
</section>
