<section class="">
  <h1 class="text-[20px] md:text-[35px] font-bold text-center" >الرومات المتاحة</h1>
    <div class="flex justify-between items-center flex-col md:flex-row flex-wrap gap-4  ">
      <div class="room-card w-full md:w-[45%] lg:w-[31%] " style="background-color: #1e3a8a;">
        <span class="room-icon">👥</span>
        <h3>روم الرياضيات</h3>
        <p>عدد الأعضاء: 12</p>
        <button class="join-btn">دخول الروم</button>
    </div>
    <div class="room-card w-full md:w-[45%] lg:w-[31%] " style="background-color: #8a2be2;">
        <span class="room-icon">👥</span>
        <h3>روم الفيزياء</h3>
        <p>عدد الأعضاء: 8</p>
        <button class="join-btn">دخول الروم</button>
    </div>
    <div class="room-card w-full md:w-[45%] lg:w-[31%] " style="background-color: #2e8b57;">
        <span class="room-icon">👥</span>
        <h3>روم الكيمياء</h3>
        <p>عدد الأعضاء: 10</p>
        <button class="join-btn">دخول الروم</button>
    </div>
    <div class="room-card w-full md:w-[45%] lg:w-[31%] " style="background-color: #d2691e;">
        <span class="room-icon">👥</span>
        <h3>روم اللغة العربية</h3>
        <p>عدد الأعضاء: 15</p>
        <button class="join-btn">دخول الروم</button>
    </div>
    <div class="room-card w-full md:w-[45%] lg:w-[31%] " style="background-color: #dc143c;">
        <span class="room-icon">👥</span>
        <h3>روم الإنجليزية</h3>
        <p>عدد الأعضاء: 20</p>
        <button class="join-btn">دخول الروم</button>
    </div>
    <div class="room-card w-full md:w-[45%] lg:w-[31%] " style="background-color: #ff8c00;">
        <span class="room-icon">👥</span>
        <h3>روم التاريخ</h3>
        <p>عدد الأعضاء: 5</p>
        <button class="join-btn">دخول الروم</button>
    </div>
    </div>
</section>
