<section >
  <h1 class="text-[20px] md:text-[35px] font-bold text-center" >اختر نوع الامتحان</h1>
  <div class="exams space-y-3 w-[80%]"   >
    <div class="exam-card space-y-2  " style="background-color: #1e3a8a;">
        <span class="exam-icon">📝</span>
        <h3>الامتحان الفردي</h3>
        <p>امتحان خاص بك فقط</p>
        <button class="start-btn" routerLink="/examindividual" >ابدأ الامتحان</button>
    </div>
    <div class="exam-card space-y-2  " style="background-color: #8a2be2;">
        <span class="exam-icon">🎲</span>
        <h3>الامتحان العشوائي</h3>
        <p>مواجهة شخص عشوائي في امتحان</p>
        <button class="start-btn">ابدأ الامتحان</button>
    </div>
    <div class="exam-card space-y-2  " style="background-color: #2e8b57;">
        <span class="exam-icon">👥</span>
        <h3>الامتحان الجماعي</h3>
        <p>انضم إلى مجموعة وامتحن معهم</p>
        <button class="start-btn">ابدأ الامتحان</button>
    </div>
  </div>
</section>
