/* .services {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
} */
.service-card {
  background-color: #112240;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  position: relative;
}
.service-card:hover {
  transform: scale(1.05);
}
.service-card h3 {
  color: #64ffda;

}
.service-card p {
  color: #f8f9fa;
  margin: 20px 0px;
}
.service-card button {
  background-color: #f8d210;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}
.service-card button:hover {
  background-color: #ff6f61;
}
.price {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff6f61;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
