<section class="services " id="services"  >
  <!-- <div class="intro">مرحبًا بك في موقع الخدمات الاحترافي!</div> -->
  <div class="flex justify-between items-center flex-wrap flex-col md:flex-row  " >
    <div class="service-card w-[95%] md:w-[45%] lg:w-[31%] my-[20px] lg:my-0 ">
      <div class="price">50$</div>
      <h3 class="text-[20px] md:text-[25px] leading-[30px] " >استرجاع حساب الفيس بوك</h3>
      <p class="text-[16px] md:text-[20px] leading-[25px] " >نساعدك في استعادة حساب الفيس بوك الخاص بك بسرعة وأمان.</p>
      <button>اطلب الآن</button>
  </div>
  <div class="service-card w-[95%] md:w-[45%] lg:w-[31%] my-[20px] lg:my-0 ">
      <div class="price">60$</div>
      <h3 class="text-[20px] md:text-[25px] leading-[30px] " >استرجاع حساب إنستجرام</h3>
      <p class="text-[16px] md:text-[20px] leading-[25px] " >استعد حساب إنستجرام الخاص بك بسهولة مع فريقنا المتخصص.</p>
      <button>اطلب الآن</button>
  </div>
  <div class="service-card w-[95%] md:w-[45%] lg:w-[31%] my-[20px] lg:my-0 ">
      <div class="price">40$</div>
      <h3 class="text-[20px] md:text-[25px] leading-[30px] " >استرجاع حساب تيك توك</h3>
      <p class="text-[16px] md:text-[20px] leading-[25px] " >هل فقدت حسابك على تيك توك؟ سنساعدك في استعادته بسرعة.</p>
      <button>اطلب الآن</button>
  </div>
  </div>
</section>
