<section class="services" id="features">
  <div class="service-card w-full md:w-[45%] lg:w-[31%] py-[30px] ">
      <h3>🧠 اسألني</h3>
      <p>احصل على إجابات سريعة باستخدام الذكاء الاصطناعي.</p>
      <button routerLink="/askme" >ابدأ الآن</button>
  </div>
  <div class="service-card w-full md:w-[45%] lg:w-[31%] py-[30px] ">
      <h3>📢 منشورات الطلاب</h3>
      <p>شارك أفكارك وتواصل مع زملائك في بيئة تعليمية.</p>
      <button routerLink="/posts" >استكشف</button>
  </div>
  <div class="service-card w-full md:w-[45%] lg:w-[31%] py-[30px] ">
      <h3>📚 الامتحانات</h3>
      <p>اختبر مستواك في مختلف المواد التعليمية.</p>
      <button routerLink="/typeexams" >ابدأ الامتحان</button>
  </div>
  <div class="service-card w-full md:w-[45%] lg:w-[31%] py-[30px] ">
      <h3>💬 الدردشة</h3>
      <p>تواصل مع زملائك ومعلميك بسهولة.</p>
      <button routerLink="/friends" >ابدأ الدردشة</button>
  </div>
  <div class="service-card w-full md:w-[45%] lg:w-[31%] py-[30px] ">
      <h3>🏆 عرض الأوائل</h3>
      <p>تعرف على قائمة أفضل الطلاب في مختلف المواد.</p>
      <button routerLink="/fristones" >عرض القائمة</button>
  </div>
  <div class="service-card w-full md:w-[45%] lg:w-[31%] py-[30px] ">
      <h3>🛋 الرومات النشطة</h3>
      <p>شاهد الغرف الدراسية التي تحتوي على نشاطات مباشرة.</p>
      <button routerLink="/rooms" >استكشف الغرف</button>
  </div>
</section>
