.friends-count {

  margin: 10px 0 30px;
  color: #8892b0;
}

.friends-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.friend-card {
  background: #112240;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.friend-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.friend-card img {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #64ffda;
  margin-bottom: 15px;
  object-fit: cover;
}

.friend-card h3 {
  margin: 10px 0;
  font-size: 1.3rem;
  color: #f8f9fa;
}

.friend-card p {
  margin: 5px 0;
  font-size: 1rem;
  color: #8892b0;
}
