<section >
  <div class="flex justify-between items-center flex-wrap flex-col md:flex-row " >
    <div class="admin-card w-[95%] md:w-[45%] lg:w-[31%] my-[20px] lg:my-0 " >
      <span class="verified">✔</span>
      <img src="https://i.pravatar.cc/150?img=3" alt="مدير الموقع">
      <h3>محمد أحمد</h3>
      <p>مدير الموقع والمسؤول عن إدارة الخدمات الرقمية باحترافية عالية.</p>
    </div>
    <div class="admin-card w-[95%] md:w-[45%] lg:w-[31%] my-[20px] lg:my-0 " >
      <span class="verified">✔</span>
      <img src="https://i.pravatar.cc/150?img=3" alt="مدير الموقع">
      <h3>محمد أحمد</h3>
      <p>مدير الموقع والمسؤول عن إدارة الخدمات الرقمية باحترافية عالية.</p>
    </div>
    <div class="admin-card w-[95%] md:w-[45%] lg:w-[31%] my-[20px] lg:my-0 " >
      <span class="verified">✔</span>
      <img src="https://i.pravatar.cc/150?img=3" alt="مدير الموقع">
      <h3>محمد أحمد</h3>
      <p>مدير الموقع والمسؤول عن إدارة الخدمات الرقمية باحترافية عالية.</p>
    </div>
  </div>
</section>
